@import "../../assets/styles/variables.scss";

.footer {
    font-size: 14px;
    place-content: center;
    padding: 0.5% 27%;
    background-color: $color2;
    color: $color3;
    text-align: center;
}
@media (max-width: 1190px) {
    .footer {
        font-size: 11px;
        text-align-last: center;
    }
}
