@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

div {
  transition: background-color 1s ease;
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background-color: RGB(249, 201, 16, 0);
}

a.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(176, 176, 176);
  padding-bottom: 1em;
}

a.nav-link:hover {
  color: rgba(176, 176, 176, 0.8);
}

a.link-secondary:hover {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  color: black;
}
.fa-brands {
  font-size: 300%;
  color: rgb(176, 176, 176);
}
.fa-brands:hover {
  color: black;
}
hr{
  opacity: 0.1; 
}
@media (max-width: 1450px) {
.education {
  display: flex;
  flex-direction: column;
}
.skills {
  display: flex;
  flex-direction: column;
  padding: 0;
}

}

