@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

div {
  transition: background-color 1s ease;
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background-color: RGB(249, 201, 16, 0);
}

a.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(176, 176, 176);
  padding-bottom: 1em;
}

a.nav-link:hover {
  color: rgba(176, 176, 176, 0.8);
}

a.link-secondary:hover {
  width: 100px;
  height: 100px;
  color: black;
}
.card-header {
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.card-img-top {
  transition: transform 0.25s;
}
.card-img-top:hover {
  transform: scale(1.2);
}

.card-text {
  color: rgb(103, 101, 101);
}
.fa-brands {
  font-size: 300%;
  color: rgb(176, 176, 176);
}
.fa-brands:hover {
  color: rgb(103, 101, 101);
}
hr {
  opacity: 0.2;
}
nav ul {
  display: flex;
  justify-content: end;
}

.skills-small {
  display: none;
}
.skills-big {
  display: flex;
}
.img-small {
  display: none;
}
@media (max-width: 1450px) {
  .education {
    display: flex;
    flex-direction: column;
  }
  .skills-big {
    display: none;
  }
  .skills-small {
    display: flex;
    flex-direction: column;
  }
  .nav {
    padding: 0;
  }
}
@media (max-width: 840px) {
  .fa-brands {
    font-size: 200%;
  }
  .about-me {
    font-size: 80%;
  }
  a.nav-link {
    font-size: 90%;
    padding-bottom: 0em;
    padding: 0;
  }

  .nav-item {
    font-size: 100%;
      
  }
  .nav button {
    padding: 0;
  }
  .nav-item img {
    width: 90%;
  }
  .photo {
    display: flex;
    flex-direction: column;
  }
  .img-big {
    display: none;
  }
  .img-small {
    display: block;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
}
