@import "../../assets/styles/variables.scss";

.nav {
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color;
    z-index: 5;
    padding: 25px 27%;
}
.nav__lists {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1%;
}
.nav__one {
    width: 483px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3.5%;
}
.nav__link {
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #cc7e30;
}
.nav__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22%;
}
.nav__button {
    background-color: #11ffee00;
}
@media (max-width: 2179px) {
    .nav {
        padding: 25px 15%;
    }
}
@media (max-width: 1595px) {
    .nav {
        padding: 25px 5%;
    }
}
@media (max-width: 1190px) {
    .nav {
        padding: 12px 5%;
    }
    .nav__one {
        display: none;
    }
    .nav__button {
        display: block;
    }
}
